.valuesText
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.valueBox
{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    border: solid 1px #dfdfdf;
    height: 100%;
}

.valueBox:hover
{
    background-color: #e9f1bc;
    border-top-right-radius: 30%;
    color: darkgreen;
}
