/* Opeyemi Styles for Navbar and Hero Section  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #222;
  background-color: #f9f9f9;
  line-height: 1.6px;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #222;
  background-color: #f9f9f9;
  line-height: 1.6px;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #222;
  background-color: #f9f9f9;
  line-height: 1.6px;
}

/* Navbar styling */
.navbar {
  background-color: #ffffff;
  color: white;
  padding: 3% 5%;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  width: 80px;
  height: auto;
  color: #1f3d29;
}

.nav-links a {
  color: #1f3d29;
  text-decoration: none;
  margin-left: 15px;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #64ffda;
}

/* Hero section */
.hero {
  background-color: #6ce494;
  color: white;
  text-align: center;
  height: 85vh; 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero-content p {
  font-size: 16px;
  margin-bottom: 7%;
}

.hero-content h1 {
  font-size: 35px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .nav-container {
    flex-direction: column;
  }

  .nav-links a {
    margin: 10 0;
  }

  .hero-content h1 {
    font-size: 1.8rem;
  }
}

/* About section */
.about-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5%;
  padding: 5%;
  background-color: #fff;
  flex-wrap: wrap;
}

.column1,
.column2 {
  flex: 1; 
  min-width: 300px;
  display: flex;
  flex-direction: column;
  
}

.about-title {
  font-size: 30px;     
  font-weight: 600;
  color: #222;
  margin: 0; 
  padding: 0;
  line-height: 0.7;            
}

.about-text {
  color: #08a55e;
  font-size: 16px;
  
}

.column1 img {
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
  margin-top: 10px;
}
.column2-text{
color: #000;
font-size: 16px;
line-height: 1.7; 
}


.about-team {
  display: flex;
  gap: 50px;
  margin-top: 10%;
}

.about-team p {
  font-size: 16px;
  font-weight: 200;
  color: #000;
  line-height: 1.5;
}

.about-team span {
  font-size: 25px;
  font-weight: semi bold;
  margin-top: 5%;
}

/* Responsive Design */
@media (max-width: 900px) {
  .about-container {
    flex-direction: column;
    text-align: center;
  }

  .column1 img {
    max-width: 100%;
  }

  .about-team {
    justify-content: center;
  }
}
