/* Opeyemi Styles for Navbar and Hero Section  */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #222;
  background-color: #f9f9f9;
  line-height: 1.6px;
}

/* Navbar styling */
.navbar {             
  align-items: center;        
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  height: 5vh;
  color: white;
  align-items: center;
  padding: 3% 5%;
}

.nav-container {
  display: flex;
}

.logo{
  width: 250px;
  color: #1f3d29;
}

.nav-links a {
 color: #054d1d;
 text-decoration: none;
  margin-left: 15px;
  font-weight: 500;
  transition: color 0.3s ease;
  font-family: 'Poppins', sans-serif;
}

.nav-links a:hover {
  color: #64ffda;
}
/* Hero section */
.hero {
  background-color: #054d1d;
  color: white;
  text-align: center;
  height: 85vh; 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero-content p {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 7%;
}

.hero-content h1 {
  font-size: 35px;
  font-family: 'Poppins', sans-serif;
}

/* Responsive Design */
@media (max-width: 768px) {
  .nav-container {
    flex-direction: column;
  }

  .nav-links a {
    margin: 10 0;
  }

  .hero-content h1 {
    font-size: 45px;
  }
}

/* About section */
.about-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5%;
  padding: 5%;
  background-color: #fff;
  flex-wrap: wrap;
}

.column1,
.column2 {
  flex: 1; 
  min-width: 300px;
  display: flex;
  flex-direction: column;
  line-height: 1.0;
}

.about-title {
  font-size: 45px;     
 font-weight: 600;
  color: #222;
  margin: 0; 
  padding: 0;
  line-height: 1.7;            
}

.about-text {
  color: #0ab81e;
  font-size: 16px;
  line-height: 3.0;
}

.column1 img {
  width: 100%;
  max-width: 450px;
  margin-top: 25px;
  border-bottom-right-radius: 100px;
}
.column2-text{
color: #000000;
font-size: 16px;
font-weight: 400;
line-height: 1.7; 
}

.about-team {
  display: flex;
  gap: 50px;
  margin-top: 10%;
}

.about-team p {
  font-size: 16px;
  color: #000;
  line-height: 1.5;
}

.about-team span {
  font-size: 25px;
  font-weight: 600;
  margin-top: 5%;
}

/* Responsive Design */
@media (max-width: 900px) {
  .about-container {
    flex-direction: column;
    text-align: center;
  }

  .column1 img {
    max-width: 100%;
  }

  .about-team {
    justify-content: center;
  }
}
